header {
  width: 100%;
  padding: 1.5rem 5%;
  margin: auto;
  position: fixed;
  top: 0;
  background-color: black;
  transition: all .5s ease;
  z-index: 15;

  @media screen and (min-width: $medium) {
    // background-color: transparent;
  }

  display: flex;
  align-items: center;

  .brand-logo  a{
    color: red;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;

    @media screen and (max-width: $small) {
      font-size: 1rem;
    }
    @media screen and (min-width: $medium) {
      font-size: 2.5rem;
    }
  }

  nav {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
  }

  nav ul {
    margin-left: 2rem;
    list-style: none;
    display: flex;
    align-items: center;
    transition: all .5s ease-in;

    .nav-link a {
      color: white;
      text-decoration: none;
    }

    .nav-link + .nav-link{
      margin-left: 1.5rem;
    }

  }

  .right-nav {
    a {
      text-decoration: none;
    }
    .signin-button {
      background-color: red;
      text-decoration: none;
      color: white;
      border-radius: 2px;
      padding: .5em 1.5em;
      font-size: 1rem;
    }

  }
}