.home {
  height: 100vh;
  color: white;
  overflow: hidden;
  position: relative;

  .hero {
    height: 90%;
    background-size: cover;
    background-position: top center;
    background-image: url("../img/nicholas-green-nPz8akkUmDI-unsplash.jpg");
  }

  .movie-info {
    width: 100%;
    height: 100%;
    padding: 1.5rem 5%;

    position: relative;

    .overlay {
      position: absolute;
      background-color: black;
      opacity: 0.4;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 3;
    }

    .second-layer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 8;
      .movie-content {
        width: 50%;
      }
      h2 {
        font-size: 4rem;
      }

      p {
        padding-top: 1.5rem;
        font-weight: 200;
        line-height: 1;
        color: white;
        font-size: 1.3rem;
      }

      .actions {
        display: flex;
        margin-top: 2.5rem;

        button {
          background-color: white;
          text-transform: capitalize;
          color: black;
          font-weight: bold;
          border: none;

          & + button {
            margin-left: 1.3rem;
          }

          &:focus {
            outline: none;
          }

          &:hover {
            background-color: black;
            color: white;
          }
        }
      }
    }
  }

  h1 {
    font-size: 3rem;
    color: white;
  }

  .home__main {
    position: absolute;
    transition: all 0.5s ease-out;
    visibility: hidden;
    z-index: 0;

    &.active {
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: #141414;
      visibility: visible;
      z-index: 1;
    }
  }

  .home__welcome-screen {
    position: absolute;
    transition: background-color 0.5s ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    z-index: 0;
    opacity: 0;

    &.active {
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: #141414;
      visibility: visible;
      opacity: 1;
      z-index: 1;
    }
  }

  .profiles {
    display: flex;
    margin: 3rem 0 5rem 0;
    justify-content: space-between;
    align-items: center;

    .profile {
      width: 300px;
      height: 300px;
      list-style: none;
      padding: 1rem 0;
      cursor: pointer;
      text-align: center;
      transition: all 0.5s ease-in;

      &:hover {
        border: 1px solid white;
      }

      p {
        font-size: 1.3rem;
        padding: 1rem 0;
        color: white;
      }
    }
  }

  button {
    text-transform: uppercase;
    border: 1px solid grey;
    background-color: transparent;
    color: grey;
    padding: 0.5em 1.5em;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.5s ease-in;
    font-size: 1.2rem;

    &:hover {
      color: white;
      border: 1px solid white;
    }
  }
}
