.card-section {
  width: 100%;
  padding: 1.5rem 5%;
  margin-top: -160px;
  height: 300px;
  z-index: 9;
  position: relative;
  margin-bottom: 200px;

  h3 {
    font-size: 1.5rem;
    color: white;
  }
}