
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import './home';


body {
  background-color: #141414;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, Sans-Serif, sans-serif;
  height: 100%;
  color: #dcdcdc;
}

header {
  background-color: #060606;
  position: fixed;
  z-index: 2;
  width: 100%;  
}

nav {
  display: flex;
  padding: 1.5rem ;
  justify-content: center;
  
}

.brand {
  flex: 1;
}

.brand a {
  color: red;
}

a {
  text-decoration: none;
}

nav ul {
  margin: unset;
  list-style-type: none; 
  justify-content: flex-end;   
  display: flex; 
  font-size: 13px;
}

li + li {
  margin-left: 20px
}

li a {
  color: #dcdcdc
}

.hero-section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  // background-image: url('cover.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

.hero-section:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right,#000000,#000000);
  opacity: .4;
}

.movies-display {
  display: flex;
  margin-top: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 1.5rem;
}

.movie-card {
  width: 100%;
  margin-bottom: 25px;   
}

@media screen and (min-width: 768px){
  .movie-card {
      width: calc((100% - (20px *2))/4);
      margin-bottom: 25px;  
  }   
}


.movie-poster {
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.movie-title {
  font-size: 13px;
}

.movie-title a {
  color: #dcdcdc;
  text-transform: uppercase;
  margin-top: 10px;
}

.movie-backdrop {
  width: 300px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex: none;
}

.movie-details {
  color: #dcdcdc;
  margin-left: 20px;

}

.movies-display-details {
  padding: 0 1.5rem;
}

@media screen and (min-width: 768px) {
  .movies-display-details {
      display: flex;
      margin-top: 10px;
      justify-content: space-between;
  }
 
}

.movie-description {
  color: #dcdcdc;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.genre {
  color: #dcdcdc;
  display: flex;
}

.similar-videos {
  font-size: 20px;
  padding: 1.5rem;
}

.space-genre + .space-genre {
  padding-left: 10px;
}
